@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "lora", sans-serif;
}

/*HEADER SECTION*/

/*Styling of the first page section*/
#head {
  position: relative;
  height: 100vh;
  color: #fff;
}

/*Positioning of div element surrounding homepage background video */
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #225470;
  background: url("homevid.mp4") center/cover;
  z-index: -1;
  opacity: 0.7;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Scale of homepage background video*/
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Positioning of nav bar*/
.navbar {
  position: absolute;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: darkred;
  opacity: 0.9;
}

/*Styling for nav bar lists*/
.navbar ul li a {
  text-decoration: none;
  margin-left: 40px;
  font-family: "lora", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease 0s;
}

/*Removes bullet points from nav bar lists*/
.navbar ul {
  list-style: none;
}

/* Styling for Logo header*/
.navbar h1 {
  cursor: pointer;
  font-size: 26px;
  color: white;
  transition: transform 0.5s;
  text-transform: uppercase;
}

/*Hover effect for logo */
.navbar h1:hover {
  color: #ef3054;
}

/*Underline for nav bar lists with hover effect*/
.navbar ul li a:hover {
  border-bottom: 3px solid #ef3054;
  color: #ef3054;
}

/* Styling for all buttons*/
button {
  font-family: "lora", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #ef3054;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/*Hover effect for all buttons*/
button:hover {
  background-color: #cc0000;
}

/*Positioning of homepage text body*/
.homepage-text-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

/*Styling of homepage text*/
.homepage-text-body h1 {
  color: #1a1d1a;
  padding-bottom: 10px;
  font-size: 20px;
}

/*ABOUT SECTION*/

/*About section header*/
.about {
  width: 80%;
  margin: auto;
  text-align: start;
  padding-top: 100px;
  padding-bottom: 50px;
}

/*Repositioning of about section header*/
.about h1 {
  margin-left: 10px;
}

/*Positioning for about section text body*/
.about-section-text {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/*Resizing of image for about section*/
.about img {
  width: 50%;
  margin-left: 50px;
}

/*Font size increase of about section paragraphs*/
.about-section-text p {
  font-size: 15px;
}

#floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/*SERVICES SECTION*/

/*Positioning of Services section*/
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

/*Positioning & styling of Services section sub header*/
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/*Positioning for services column*/
.row {
  margin-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

/* styling for services columns*/
.services-column {
  flex-basis: 25%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

/*Hover effect for services columns*/
.services-column:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/*Positioning of text within services columns*/
h3 {
  text-align: center;
  padding-top: 20px;
}

/*Makes columns mobile responsive*/
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*Positioning of services section text body*/
.services-section-text {
  margin-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  text-align: center;
}

.services-paragraph {
  flex-basis: 25%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.services-lists {
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  margin: auto;
}
