* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

/*Positioning of Nav Bar lists*/
.nav_links {
  margin: 10px;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gets rid of bullet points on nav lists*/
li {
  list-style: none;
  margin-right: 2rem;
}

/* Style of nav bar lists*/
li a {
  text-decoration: none;
  font-family: "lora", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  transition: all 0.3s ease 0s;
}

/* Color of logo in Nav bar*/
li:first-child {
  color: #ff6666;
  cursor: pointer;
}

.nav_links li a:hover {
  color: #ff6666;
}

.nav_links li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ff6666;
  display: block;
  margin: auto;
}

/*Creates underline hover effect under navbar links*/
.nav_links li a:hover::after {
  width: 100%;
}

button {
  font-family: "lora", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #ff6666;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #f84a4a;
}

.homepage-textbox {
  width: 90%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.homepage-textbox h1 {
  font-size: 15px;
  padding-bottom: 10px;
}

.services {
  width: 80;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
